
<div style='margin:0 20px;margin-top:20px;width: 80%;text-align:left;'>
	
	<p style='font-size:14px;margin-bottom:-2px;'>{{.Title}}</p>


	<form action='{{ pref .FormAction }}'>
		Gemeindename und Schlüssel: 
		<input type="input"  name="commName"    id="commName"   value="{{.ParamCommName}}"   >     
		<input type="input"  name="commKey"     id="commKey"    value="{{.ParamCommKey}}"    >     <br />

		Source Page Id <input type="input"  name="srcPageId"   id="srcPageId"  value="{{.ParamSrcPageId}}"  >     <br />
		<input type="submit" name="submit"      id=""           value="Submit" accesskey="s" >     <br />

		<br />
		Abweichender Name 
		<input type="input"  name="deviatingCommName"    id="deviatingCommName"   value="{{.ParamDeviatingCommName}}"   >     <br />

	</form>

	{{if ne .StructDump "" }}
		<br/>
		<div cols='145' rows='32' style='width: 90%; 
				white-space: pre-line;
				white-space: pre;
				'
		>{{ .StructDump }}
		</div>
	{{end}}

</div>