
<div style='margin:0 20px;margin-top:20px;width: 80%;text-align:left;'>
	
	<p style='font-size:14px;margin-bottom:-2px;'>{{.Title}}</p>


	<form action='{{ pref .FormAction }}' method='POST'>
		Gemeindename und Schlüssel: 
		<input type="text"  name="CommName"    id="CommName"   value="{{.ParamCommName}}"    />     
		<input type="text"  name="CommKey"     id="CommKey"    value="{{.ParamCommKey}}"     />     <br />

		Source Pdf Id - Source Page Id 
		<input type="text"   name="SrcPdfId"    id="SrcPdfId"   value="{{.ParamSrcPdfId}}"   />     
		<input type="text"   name="SrcPageId"   id="SrcPageId"  value="{{.ParamSrcPageId}}"  />     <br />
		<input type="Submit" name="Submit1"     id="Submit1"    value="Submit" accesskey="s" />     <br />

		<br />
		Abweichender Name 
		<input type="text"  name="DeviatingCommName"    id="DeviatingCommName"   value="{{.ParamDeviatingCommName}}"   > <br />
	

	<!-- 
	</form>
	<form action='{{ pref .FormAction }}'>
	-->

		<br />
		Decision Data<br />
		{{ range $Idx, $Dec := .Decisions }}
			Decision Id: {{$Dec.Id}}
			<input type="hidden" name="Decisions[{{$Idx}}].Id"           id="Id"            value="{{$Dec.Id}}"            />
			<input type="text"   name="Decisions[{{$Idx}}].ForYear"      id="ForYear"       value="{{$Dec.ForYear}}"       />     
			<input type="text"   name="Decisions[{{$Idx}}].DecisionDate" id="DecisionDate"  value="{{$Dec.DecisionDate}}"  />     
			<input type="text"   name="Decisions[{{$Idx}}].PageId"       id="PageId"        value="{{$Dec.PageId}}"        />   <br />
		{{end}}


		<input type="submit" name="Submit2"      id="Submit2"       value="Submit Decision Date"  />     <br />
	<!-- 
	-->


	</form>

	{{if ne .StructDump "" }}
		<br/>
		<div cols='145' rows='32' style='width: 90%; 
				white-space: pre-line;
				white-space: pre;
				'
		>{{ .StructDump }}
		</div>
	{{end}}




</div>